.oauth{
    float:left;
}

.non_oauth{
    float:right;
}

button{
    vertical-align: middle;
}

/* .fb-connect { */
/*     /\* background: url("../images/homepage/sign-in-sprites-juicy-July2012.png") no-repeat scroll -300px 0 transparent; *\/ */
/*     display: inline-block; */
/*     height: 60px; */
/*     width: 255px; */
/* } */

/* .tw-connect{ */
/*     background: url() */
/* } */

/* .gp-connect{ */
    
/* } */
